--extra-index-url https://pypi.nvidia.com
--extra-index-url https://download.pytorch.org/whl/cu124
absl-py==2.1.0
addict==2.4.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
antlr4-python3-runtime==4.9.3
asttokens==2.4.1
async-timeout==4.0.3
attrs==24.2.0
autograd==1.6.2
beautifulsoup4==4.12.3
blinker==1.8.2
boto3==1.35.2
botocore==1.35.2
cchardet==2.1.7
certifi==2024.7.4
chardet==5.2.0
charset-normalizer==3.3.2
chumpy==0.70
click==8.1.7
cloudpickle==3.0.0
comm==0.2.2
ConfigArgParse==1.7
configer==1.3.1
configparser==7.1.0
contourpy==1.2.1
cycler==0.12.1
dash==2.17.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
decorator==4.4.2
docker-pycreds==0.4.0
easydict==1.13
etils==1.7.0
exceptiongroup==1.2.2
executing==2.0.1
Farama-Notifications==0.0.4
fastjsonschema==2.20.0
filelock==3.13.1
Flask==3.0.3
fonttools==4.53.1
freetype-py==2.4.0
frozenlist==1.4.1
fsspec==2024.2.0
future==1.0.0
gdown==5.2.0
gitdb==4.0.11
GitPython==3.1.43
glfw==2.7.0
grpcio==1.65.5
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.29.0
h5py==3.11.0
hidapi==0.14.0.post2
human-body-prior==0.8.5.0
hydra-core==1.3.2
idna==3.7
imageio==2.35.1
imageio-ffmpeg==0.5.1
importlib_metadata==8.4.0
importlib_resources==6.4.3
ipdb==0.13.13
ipython==8.26.0
ipywidgets==8.1.3
isaacsim-app==4.1.0.0
isaacsim-benchmark==4.1.0.0
isaacsim-core==4.1.0.0
isaacsim-extscache-kit==4.1.0.0
isaacsim-extscache-kit-sdk==4.1.0.0
isaacsim-extscache-physics==4.1.0.0
isaacsim-gui==4.1.0.0
isaacsim-kernel==4.1.0.0
isaacsim-replicator==4.1.0.0
isaacsim-rl==4.1.0.0
isaacsim-robot==4.1.0.0
isaacsim-robot-motion==4.1.0.0
isaacsim-sensor==4.1.0.0
isaacsim-storage==4.1.0.0
isaacsim-utils==4.1.0.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_core==5.7.2
jupyterlab_widgets==3.0.11
kiwisolver==1.4.5
lazy_loader==0.4
lightning-utilities==0.11.6
lxml==5.3.0
Markdown==3.7
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mediapy==1.2.2
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.8
mujoco==3.2.2
multidict==6.0.5
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
numpy==1.23.5
numpy-stl==3.1.2
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==8.7.0.84
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.19.3
nvidia-nvtx-cu11==11.8.86
omegaconf==2.3.0
-e git+ssh://git@github.com/isaac-sim/IsaacLab.git@09c243dc8a2e9cfdf66c2363ebcba1d59fcb99f8#egg=omni_isaac_lab&subdirectory=source/extensions/omni.isaac.lab
-e git+ssh://git@github.com/isaac-sim/IsaacLab.git@09c243dc8a2e9cfdf66c2363ebcba1d59fcb99f8#egg=omni_isaac_lab_assets&subdirectory=source/extensions/omni.isaac.lab_assets
-e git+ssh://git@github.com/isaac-sim/IsaacLab.git@09c243dc8a2e9cfdf66c2363ebcba1d59fcb99f8#egg=omni_isaac_lab_tasks&subdirectory=source/extensions/omni.isaac.lab_tasks
omniverse-kit==106.0.1.126909
open3d==0.18.0
opencv-python==4.6.0.66
osqp==0.6.7.post1
packaging==24.1
pandas==2.2.2
parso==0.8.4
patchelf==0.17.2.1
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.2.2
plotly==5.23.0
prettytable==3.3.0
proglog==0.1.10
prompt_toolkit==3.0.47
protobuf==4.25.4
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyglet==1.5.29
Pygments==2.18.0
PyOpenGL==3.1.0
pyparsing==3.1.2
pyperclip==1.9.0
pyquaternion==0.9.9
pyrender==0.1.45
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-utils==3.8.2
pytorch-lightning==2.4.0
pytz==2024.1
PyVirtualDisplay==3.0
PyYAML==6.0.2
qdldl==0.1.7.post4
ray==2.34.0
referencing==0.35.1
requests==2.32.3
retrying==1.3.4
rl-games==1.1.4
rpds-py==0.20.0
s3transfer==0.10.2
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.14.0
sentry-sdk==2.13.0
setproctitle==1.3.3
six==1.16.0
smmap==5.0.1
smpl_sim @ git+https://github.com/ZhengyiLuo/SMPLSim.git@c81b83122906a922bba124e1e95435c811fb83a1
smplx==0.1.28
soupsieve==2.6
stack-data==0.6.3
sympy==1.12
tenacity==9.0.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensordict==0.3.2
termcolor==2.4.0
threadpoolctl==3.5.0
tifffile==2024.8.10
toml==0.10.2
tomli==2.0.1
torch==2.2.2+cu124
torchgeometry==0.1.2
torchmetrics==1.4.1
torchvision==0.17.2
tqdm==4.66.5
traitlets==5.14.3
transforms3d==0.4.2
trimesh==4.4.7
triton==2.2.0
typing_extensions==4.9.0
tzdata==2024.1
urllib3==2.2.2
vtk==9.3.1
wandb==0.17.7
warp-lang==1.3.1
wcwidth==0.2.13
Werkzeug==3.0.3
widgetsnbextension==4.0.11
yarl==1.9.4
zipp==3.20.0
